Repository jireh-father/jarvis-agent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, frontend, backend, dependencies, ci/cd

feat: Gemini LLM ?곕룞 ?꾨즺 (TASK-002)
  .env.sample
  app/routes/chat.py
  app/services/llm.py
  docs/development-tasks.md
Labels: documentation, backend

feat: Gemini LLM 연동 구현 (TASK-002) (#1)
  .env.sample
  app/routes/chat.py
  app/services/llm.py
  docs/development-tasks.md
Labels: documentation, backend

feat: Exa Search ?꾧뎄 援ы쁽 ?꾨즺
  app/services/search.py
  requirements.txt
Labels: backend, dependencies

docs: TASK-003 ?꾨즺 ?곹깭濡??낅뜲?댄듃
  docs/development-tasks.md
Labels: documentation

feat: TASK-004 LangGraph ?먯씠?꾪듃 ?뚰겕?뚮줈??援ъ텞 ?꾨즺
  app/services/agent.py
  docs/development-tasks.md
  test_search_quick.py
Labels: documentation, backend

docs: TASK-004 ?곹깭瑜??꾨즺濡??낅뜲?댄듃
  docs/development-tasks.md
Labels: documentation

.github/labeler.yml:

# PR Labeler 설정 파일
# 변경된 파일 패턴에 따라 자동으로 라벨을 추가합니다

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/*'
    - any-glob-to-any-file: '*.md'

tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'templates/**/*'
    - any-glob-to-any-file: 'static/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'app/**/*.py'

dependencies:
  - changed-files:
    - any-glob-to-any-file: 'requirements.txt'
    - any-glob-to-any-file: 'pyproject.toml'
    - any-glob-to-any-file: 'setup.py'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
